<h1>roll two dice!</h1>

<%
 d1 = rand(1..6)
 d2 = rand(1..6)
 %>


<p>die 1 is </p>
<p>
<img src="/images/dice/<%= d1%>.svg" alt="">
</p>

<p>die 2 is </p>
<p>
<img src="/images/dice/<%= d2%>.svg" alt="">
</p>


<h2>you rolled <%= d1+d2%></h2>

<p><a href="/dice">roll again?</a></p>

